<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Гео-отзывы</title>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div class='wrapper'>
        {{> "./src/templates/map.hbs"}}
        {{> "./src/templates/reviews.hbs"}}
    </div>
</body>
</html>