<div id="map">
    <div class="popup" id="popup">
        <header class="popup_header">
            <div class="popup_title">
                Невский пр., 78, Санкт-Петербург, 191025 
            </div>
            <img id="popup_close" alt="close" src="../src/icons/close.png">
        </header>
        <div class="reviews" id="reviews">
            <!-- отзывы -->
        </div>
        <form class="form">
            <h2 class="form_title">Ваш отзыв</h2>
            <input class="form_input" type="text" name="name" id="name" placeholder="Ваше имя">
            <input class="form_input" type="text" name="place" id="place" placeholder="Укажите место">
            <textarea class="form_textarea" id="impression" type="text" name="impression" rows="9" cols="45" placeholder="Поделитесь впечатлениями"></textarea>
            <div class="button">
                <button id="button-save">Добавить</button>
            </div>
        </form>  
    </div>
</div>