<ul class="popup_review">
    {{#each list}}
		<li class="review_item">
			<div class="review-title">
				<span class="name">{{name}}</span>
				<span class="place">{{place}}</span>
				<span class="date">{{date}}</span>
			</div>
			<div class="review-content">
				{{impression}}
			</div>
		</li>
	{{/each}}
</ul>